{% render 'partials/head.liquid', title: 'Squad page 1J', reverseName: reverseName%}


{% comment %} Filter en sorteren {% endcomment %}
<header class="filter-and-sort-wrapper">
  <a href="{% if reverseName %}/{% else %}/aflopend-alfabetische-volgorde{% endif %}" class="sort-a-z">
    Sorteer A-Z
    <svg width="15" viewBox="0 0 19 22" xmlns="http://www.w3.org/2000/svg">
      <path d="M6.55902 12.3399C6.55902 13.0753 5.96413 13.6717 5.23071 13.6717C4.49686 13.6717 3.90198 13.0753 3.90198 12.3399V4.71155L2.29575 6.44493C1.79693 6.98244 0.958005 7.01254 0.422308 6.51244C-0.113389 6.01277 -0.143412 5.17167 0.35497 4.63415L4.26011 0.420907L4.34846 0.337484C4.89274 -0.150578 5.72952 -0.103707 6.21633 0.441977L10.1215 4.8053C10.6083 5.35098 10.5615 6.18993 10.0172 6.67799C9.4734 7.16649 8.63661 7.11962 8.14938 6.57393L6.55902 4.7967V12.3399ZM16.6914 15.4261C17.1782 14.8805 18.015 14.8336 18.5592 15.3216C19.1035 15.8101 19.1503 16.6491 18.663 17.1948L14.7583 21.5581C14.2711 22.1038 13.4343 22.1506 12.8904 21.6622L12.8038 21.5774L8.89696 17.3655C8.39814 16.8284 8.42817 15.9873 8.96429 15.4876C9.49999 14.9875 10.3389 15.0176 10.8373 15.5551L12.444 17.2885V9.95597C12.444 9.22022 13.0388 8.62422 13.7723 8.62422C14.5057 8.62422 15.1006 9.22022 15.1006 9.95597V17.2034L16.6914 15.4261Z" fill=""/>
    </svg>
  </a>

  <details>
    <summary>
      Filter
      <svg width="18" viewBox="0 0 18 13" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 4.58824C11.6021 4.58813 11.2205 4.42686 10.9392 4.1399C10.6579 3.85294 10.4999 3.46379 10.5 3.05806C10.5001 2.65233 10.6583 2.26326 10.9397 1.97644C11.2212 1.68962 11.6028 1.52855 12.0008 1.52865C12.1978 1.5287 12.3929 1.56832 12.5749 1.64524C12.7569 1.72217 12.9223 1.83489 13.0616 1.97698C13.2009 2.11907 13.3113 2.28775 13.3867 2.47337C13.462 2.65899 13.5008 2.85793 13.5008 3.05882C13.5007 3.25972 13.4618 3.45864 13.3864 3.64422C13.311 3.82981 13.2004 3.99842 13.061 4.14044C12.9217 4.28246 12.7563 4.3951 12.5742 4.47193C12.3921 4.54877 12.197 4.58829 12 4.58824ZM14.8935 2.29412C14.5583 0.978824 13.3935 0 12 0C10.6065 0 9.44175 0.978824 9.1065 2.29412H0V3.82353H9.1065C9.44175 5.13882 10.6065 6.11765 12 6.11765C13.3935 6.11765 14.5583 5.13882 14.8935 3.82353H18V2.29412H14.8935ZM6 11.4706C5.80297 11.4705 5.60788 11.4309 5.42586 11.354C5.24385 11.2771 5.07847 11.1643 4.93918 11.0223C4.7999 10.8802 4.68942 10.7115 4.61407 10.5259C4.53871 10.3402 4.49995 10.1413 4.5 9.94041C4.50005 9.73952 4.53891 9.5406 4.61435 9.35501C4.6898 9.16943 4.80036 9.00082 4.93972 8.8588C5.07907 8.71678 5.2445 8.60414 5.42655 8.5273C5.60861 8.45047 5.80372 8.41095 6.00075 8.411C6.39867 8.4111 6.78026 8.57237 7.06157 8.85934C7.34287 9.1463 7.50085 9.53545 7.50075 9.94118C7.50065 10.3469 7.34248 10.736 7.06104 11.0228C6.77959 11.3096 6.39792 11.4707 6 11.4706ZM6 6.88235C4.6065 6.88235 3.44175 7.86118 3.1065 9.17647H0V10.7059H3.1065C3.44175 12.0212 4.6065 13 6 13C7.3935 13 8.55825 12.0212 8.8935 10.7059H18V9.17647H8.8935C8.55825 7.86118 7.3935 6.88235 6 6.88235Z" fill=""/>
      </svg>
    </summary>
    <a href="/lente">Lente</a>
    <a href="/zomer">Zomer</a>
    <a href="/herfst">Herfst</a>
    <a href="/winter">Winter</a>
  </details>
</header>

{% comment %} Studenten lijst {% endcomment %}
<section class="student-list">

  <h2>Squad 1J</h2>

  <ul>
    {% for person in persons %}
      <li>
        <a href="/student/{{ person.id }}">
        {{ person.name }}
        <svg width="10" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
          <path d="M9.30176 1.42822L10.3857 0.344238C10.8447 -0.114746 11.5869 -0.114746 12.041 0.344238L21.5332 9.83154C21.9922 10.2905 21.9922 11.0327 21.5332 11.4868L12.041 20.979C11.582 21.438 10.8398 21.438 10.3857 20.979L9.30176 19.895C8.83789 19.4312 8.84766 18.6743 9.32129 18.2202L15.2051 12.6147H1.17188C0.522461 12.6147 0 12.0923 0 11.4429V9.88037C0 9.23096 0.522461 8.7085 1.17188 8.7085H15.2051L9.32129 3.10303C8.84277 2.64893 8.83301 1.89209 9.30176 1.42822Z" fill=""/>
        </svg>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>


{% render 'partials/foot.liquid', squads: squads %}