/* Algemeen */
html {
    font-family: Arial, Helvetica, sans-serif;

    /* Scrollen in html element-gaat smooth */
    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }

    color: var(--dark-text-color);
}

/* Custom properties */
:root {
    /* Custom colors */
    --text-color: rgb(20, 0, 172);
    --dark-text-color: rgb(23, 23, 23);
    --light-color: rgb(255, 255, 255);
    --second-light-color: rgb(241, 241, 241);
    --warm-light-color: rgb(251, 233, 216);
    --dark-border-color: rgb(0, 0, 0);
    --max-width-notebook: 25em;

    --font-size-l: 1.6rem;
    --font-size-m: 1.4rem;
    --font-size-s: 1.2rem;
    --font-size-xs: 1rem;

    /* Custom font */
    @font-face {
        font-family: 'pacifico';
        src: url('../fonts/Pacifico.ttf');
    }

    @font-face {
        font-family: 'royalbrand';
        src: url('../fonts/RoyalBrand-Regular.otf');
    }

    @font-face {
        font-family: 'au bord de la seine';
        src: url('../fonts/Au Bord de la Seine.ttf');
    }
}

body {
    padding: 0.5em;
    display: grid;
    justify-content: center;
}

/* Persoons gegevens */
.person_data {
    display: grid;
    justify-content: center;
    align-items: center;
    background: #FBE9D8;
    border: 10px solid black;
    border-radius: 5px;
    margin-top: 1em;
    padding: 1.5em 1em 1em 2em;
    position: relative;

    /* Before's en after's zijn de buitenste ringen links van de notebook */
    &::before,
    &::after {
        content: '';
        position: absolute;
        background: grey;
        border: 10px solid black;
        border-radius: 50px;
        height: 0.5em;
        width:1.8em;
        left: -1.5em;
    }

    &::before {
        top: 3em;
    }

    &::after {
        bottom: 3em;
    }
    
    img {
        margin-bottom: 0.5em;
        aspect-ratio: 1;
        max-width: 8em;
        max-width: 8em;
        object-fit: cover;
        object-position: 40%;
        border: 5px solid var(--light-color);
    }

     /* Wrapper met social media links */
    ul {
      list-style: '';
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 0;
      margin: 0;
      gap: 1em;
      

      @media (min-width: 800px) {
        padding-top: 0;
      }
    }

    /* Social media links */
    a {
      display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
        text-decoration: none;
        font-weight: 600;

        svg {
          width: 2em;
        }

        &:hover {
          text-decoration: 1px solid underline;
        }
    } 

}

/* Persoons gegevens tabel */
table {
    text-align: left;
    border-collapse: collapse; 
    font-size: var(--font-size-xs);

    /* Before's en after's zijn de middelste ringen links van de notebook */
   &::before,
    &::after {
        content: '';
        position: absolute;
        background: grey;
        border: 10px solid black;
        border-radius: 50px;
        height: 0.5em;
        width:1.8em;
        left: -1.5em;
    }

    &::before {
        top: 14em;
    }

    &::after {
        bottom: 14em;
    }
    
    tr {
        border-bottom: 1px solid green;
        td {
            color: var(--text-color);
            font-family: pacifico;
            letter-spacing: 1px;
            padding-left: 0.5em;
            
            
        }
    }

    h2 {
        font-size: var(--font-size-xs); 
        margin: 0;
    }
}

.bio {
    margin-top: 2em;
    text-align: center;
    background-image: url(../assets/background-blob.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 1em 2em 2em;
}