/* Algemeen */
html {
    font-family: Arial, Helvetica, sans-serif;

    /* Scrollen in html element-gaat smooth */
    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }
}

/* Custom properties */
:root {
    /* Custom colors */
    --text-color: rgb(20, 0, 172);
    --light-color: rgb(255, 255, 255);

    --font-size-l: 1.6rem;
    --font-size-m: 1.4rem;
    --font-size-s: 1.2rem;
    --font-size-xs: 1rem;

    /* Custom font */
    @font-face {
        font-family: 'pacifico';
        src: url('../fonts/Pacifico.ttf');
    }
}

main {
    padding: 0.5em;
}
