/* Algemeen */
html {
    font-family: Arial, Helvetica, sans-serif;

    /* Scrollen in html element-gaat smooth */
    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }
}

/* Custom properties */
:root {
    /* Custom colors */
    --text-color: rgb(20, 0, 172);
    --light-color: rgb(255, 255, 255);

    --font-size-l: 1.6rem;
    --font-size-m: 1.4rem;
    --font-size-s: 1.2rem;
    --font-size-xs: 1rem;

    /* Custom font */
    @font-face {
        font-family: 'pacifico';
        src: url('../fonts/Pacifico.ttf');
    }
}

main {
    padding: 0.5em;
}

/* Persoons gegevens */
.person_data {
    display: grid;
    justify-content: center;
    align-items: center;
    background: #FBE9D8;
    border: 10px solid black;
    border-radius: 5px;
    margin-top: 1em;
    padding: 1.5em 1em 1em 2em;
    position: relative;

    /* Before's en after's zijn de buitenste ringen links van de notebook */
    &::before,
    &::after {
        content: '';
        position: absolute;
        background: grey;
        border: 10px solid black;
        border-radius: 50px;
        height: 0.5em;
        width:1.8em;
        left: -1.5em;
    }

    &::before {
        top: 3em;
    }

    &::after {
        bottom: 3em;
    }
}
